@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100%;
	background: linear-gradient(to right, #d1d5ee, #eef2ff);
	margin: 0;
	background-size: cover;
	overscroll-behavior: none;
	background-attachment: fixed;
}
